body, input, p{
  font-family: "Courier New", monospace;
  font-size: 15px;
  --light-grey: hsl(0, 0%, 75%)  
  }

input{
 font-size: 20px; 
}

.container{
  margin-top: 70px;
  }

canvas {
  width: 300px;
  hieght: 500px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: var(--light-grey);
  }

.buttons{
  width: 170px;
  height: 30px;
  border-radius: 5px;
  color: black;
  background-color:var(--light-grey);
  }

.buttons:hover{
  background-color: white;
}